<div class="container relative-container">
    <div class="row">
        <div id="skills-animation" class="skills-aniamtion" data-ng-if="$root.skillsDir">
        <animation-directive slideDirection="circular"></animation-directive>
    </div>
    <div class="skills-wrapp">
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 main-list-box skills-list">
            <ul class="skills-wrapp-list">
                <li class="main-list-header">Personality</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>creativity</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>problem solving</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>teamWork</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>quick learning</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>determination</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>patience</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>responsibility</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>time management</li>
            </ul>
        </div>
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 main-list-box skills-list">
            <ul>
                <li class="main-list-header">Technical</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>css3 & html5</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>oo javascript</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>jquery</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>angularjs</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>vue js</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>react js</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>node.js</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>WebPack</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>Grunt, Gulp, Bower, NPM</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>responsive design</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>Version Control (Git, SVN)</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>programming</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>CMS</li>
                <li><i class="fa fa-thumbs-o-up fa-1" aria-hidden="true"></i>graphics</li>
            </ul>
        </div>
        <div class="socials-code-sites">
            <h3>I'am on Github <br /> please take a look:</h3>
            <a href="https://github.com/mkucaj1986">
                <img src="./src/client/assets/img/icons/github.png" alt="michalkucaj" class="img-responsive" />
            </a>
            <h3>I'am on Stack Overflow please take a look:</h3>
            <a href="http://stackoverflow.com/users/3774234/supercomupter">
                <img src="./src/client/assets/img/icons/stack-overflow.png" alt="michalkucaj" class="img-responsive" />
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="skills-code-block center-block" data-ng-if="!$root.isNotMobile">
        .javaScriptNinja { <br />
        <span>color: black;</span> <br />
        <span>visibility: hidden;</span> <br />
        <span> -webkit-animation-duration: 0.0000000001s; </span> <br />
        <span> animation-duration: 0.0000000001s; </span> <br />
        }
        <br /><br />
        .ghost { <br />
        <span>color: white;</span> <br />
        <span>opacity: 0.1;</span> <br />
        }
        <br /><br />
        #eminem { <br />
        <span>word-spacing: 0;</span> <br />
        }
    </div>
</div>
</div>