<div class="hello-world" data-ng-if="!$root.isNotMobile">
    function welcomeWorld(){ <br />
    <span>  $scope.greetWorld = "Hello World"; <br /></span>
    }
</div>
<div class="block-center">
    <h2 class="main-title">Michal Kucaj <br class="mobile-breakline"/><span class="text-primary">FRONT END</span> DEVELOPER</h2>
    <blockquote class="scroller">
        <p>Welcome in my <span class="text-primary">Portfolio</span> take a look <span class="text-primary">more</span> about Me and my services</p>
        <div class="top-buttons-box">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a class="btn btn-light btn-bordered btn-lg" href="#welcome" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('welcome', $event);home.isScrollorClick();home.getMore()">More Info</a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a href="/portfolio" target="_self" class="btn btn-primary btn-lg spin circle">Portfolio</a>
            </div>
        </div>
    </blockquote>
</div>
<div class="top-bg">
    <div class="top-bg-box">
    </div>
</div>
<div class="scroll-down-bottom-box">
<a class="scroll-down-arrow" href="#welcome" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('welcome', $event);home.isScrollorClick();home.getMore()"><span></span></a>
</div>