<div class="container relative-container">
    <a target="_blank" href="https://developers.google.com/speed/pagespeed/insights/?hl=pl&url=michalkucaj.pl">
        <div class="page-speed-box">
            <span>My Portfolio get 100 performance score </span>
        </div>
    </a>
    <div class="socials-code-sites">
        <h3>I'am on Github <br /> please take a look:</h3>
        <a href="https://github.com/mkucaj1986" target="_blank">
            <img src="./src/client/assets/img/icons/github.png" alt="michalkucaj" class="img-responsive" />
        </a>
        <h3>I'am on Stack Overflow please take a look:</h3>
        <a href="http://stackoverflow.com/users/3774234/supercomupter" target="_blank">
            <img src="./src/client/assets/img/icons/stack-overflow.png" alt="michalkucaj" class="img-responsive" />
        </a>
    </div>
    <div class="row welcome-row-mobile">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 welcome-box">
            Hi! my name is Michael <br />
            I'm a <span data-ng-bind="home.calculateAge('1986/10/29')"></span> year old <br />
            <span class="text-primary">FRONT END</span> DEVELOPER
            nice to meet you!
        </div>
        <div class="col-xs-12 col-sm-12 col-md-21 col-lg-12 welcome-bottom">
            WHAT CAN I DO?
            <div class="clearfix"></div>
            I SPECIALISE IN...
        </div>
        <div class="welcome-row-mobile-txt">
            <h3 class="text-primary">HTML / CSS</h3>
            <p>
                I have used HTML / CSS (sass) on a wide variety of projects, from Responsive Websites, dynamic websites to large scale web applications.
            </p>
            <h3 class="text-primary">JAVASCRIPT</h3>
            <p>
                Working with Javascript the front end full stack (such as AngularJS, Node.js & Gulp) I am able to make, solid dynamic responsive single page apps.
            </p>
            <h3 class="text-primary">WEB DEVELOPMENT</h3>
            <p>
                MEAN is an opinionated fullstack javascript framework -
                which simplifies and accelerates web application development
                Mongo Db ExpressJS AngularJS NodeJS
            </p>
        </div>
    </div>
    <div class="row welcome-row">
        <div id="animation-directive" class="welcome-anim" data-ng-if="$root.welcomeDir">
        <animation-directive slideDirection="slideLeft" ></animation-directive>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 welcome-box">
        <div class="code-first">
            while ( alive ) <br />
            {<br />
            <span>eat( something )</span> <br />
            <span>sleep( short )</span> <br />
            <span class="gold-code-color">code( pro )</span> <br />
            }
        </div>
        Hi! my name is Michael <br />
        I'm a <span data-ng-bind="home.calculateAge('1986/10/29')"></span> year old <br />
        <span class="text-primary">FRONT END</span> DEVELOPER
        nice to meet you!
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-21 col-lg-12 welcome-bottom">
        WHAT CAN I DO?
        <div class="clearfix"></div>
        I SPECIALISE IN...
    </div>
    <div class="col-xs-12 col-sm-12 col-md-21 col-lg-12 welcome-bottom-specialise">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="special-box-txt">
                <span>html / css</span>
            </div>
            <div class="special-box step1">
                <div class="special-box-inside">
                    <p>
                        I have used HTML / CSS (sass) on a wide variety of projects, from Responsive Websites, dynamic websites to large scale web applications.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="special-box-txt">
                <span>Javascript</span>
            </div>
            <div class="special-box step2">
                <div class="special-box-inside">
                    <p>
                        Working with Javascript the front end full stack (such as AngularJS, Node.js & Gulp) I am able to make, solid dynamic responsive single page apps.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="special-box-txt">
                <span>web development </span>
            </div>
            <div class="special-box step3">
                <div class="special-box-inside special-box-inside-last">
                    <p>
                        MEAN is an opinionated fullstack javascript framework -
                        which simplifies and accelerates web application development
                        Mongo Db ExpressJS AngularJS NodeJS
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="scroll-down-bottom-box">
<a class="scroll-down-arrow" href="#profile" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('profile', $event, 2);home.isScrollorClick()"><span></span></a>
</div>
