<div class="container relative-container work-education-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
            <ul class="work-box">
                <li class="main-list-header text-primary">2013 - Present</li>
                <li class="font-big font-black">FRONT END DEVELOPER</li>
                <li class="font-m-size font-medium">PGS SOFTWARE - <a href="https://www.pgs-soft.com/" target="_blank">www.pgs-soft.com/</a></li>
                <li>. HTML & CSS & Javascript</li>
                <li>. Outsourcing Company</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
            <ul class="work-box">
                <li class="main-list-header text-primary">2010 - Present</li>
                <li class="font-big font-black">SOFTWARE FULL STACK JS DEVELOPER</li>
                <li class="font-m-size font-medium">Self Employed - <a href="http://www.michalkucaj.pl" du-smooth-scroll du-scrollspy data-ng-click="home.toTheTop($event)">www.michalkucaj.pl</a></li>
                <li>. Software Developer</li>
                <li>. RWD JavaScript Application</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
            <ul class="work-box">
                <li class="main-list-header text-primary">2010</li>
                <li class="font-big font-black">FRONT END DEVELOPER - internship</li>
                <li class="font-m-size font-medium">IDEO - <a href="http://www.ideo.pl/" target="_blank">www.ideo.pl/</a></li>
                <li>. HTML & CSS</li>
                <li>. Responsive design and development</li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
            <ul class="work-box">
                <li class="main-list-header text-primary">2005 - 2010</li>
                <li class="font-big font-black">University of Information Technology and Management</li>
                <li class="font-m-size font-medium">Rzeszow  - <a href="https://www.wsiz.rzeszow.pl/">www.wsiz.rzeszow.pl/</a></li>
            </ul>
        </div>
    </div>
    <div class="we-code-block pull-right">
        System.out.println( "Black magic! Only Saruman knows how this works... ")<br />
        // If this comment is removed the program will blow up !!! <br />
        <br />
        .smile{
        <span>display: inline-block;</span> <br />
        <span>transform: translateX</span> <br />
        }
    </div>
    <div class="socials-code-sites">
        <h3>I'am on Github <br /> please take a look:</h3>
        <a href="https://github.com/mkucaj1986" target="_blank">
            <img src="./src/client/assets/img/icons/github.png" alt="michalkucaj" class="img-responsive" />
        </a>
        <h3>I'am on Stack Overflow please take a look:</h3>
        <a href="http://stackoverflow.com/users/3774234/supercomupter" target="_blank">
            <img src="./src/client/assets/img/icons/stack-overflow.png" alt="michalkucaj" class="img-responsive" />
        </a>
    </div>
</div>
<!--WORK & EDUCATION === MOBILE VIEW-->
<section id="accordion-block-w-e" class="accordion-block-w-e accordion-block" toggle-accordion>
    <h2>WORK & EDUCATION</h2>
    <div class="htk-left-panel-box">
        <h3 class="custom-block-title title-toggle-block open">PGS SOFTWARE - (2013 - Present)</h3>
        <div class="block-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
                <ul class="work-box">
                    <li class="main-list-header text-primary">2013 - Present</li>
                    <li class="font-big font-black">FRONT END DEVELOPER</li>
                    <li class="font-m-size font-medium">PGS SOFTWARE - <a href="https://www.pgs-soft.com/">www.pgs-soft.com/</a></li>
                    <li>. HTML & CSS</li>
                    <li>. Responsive design and development</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="htk-left-panel-box">
        <h3 class="custom-block-title title-toggle-block">Self Employed - (2010 - Present)</h3>
        <div class="block-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
                <ul class="work-box">
                    <li class="main-list-header text-primary">2010 - Present</li>
                    <li class="font-big font-black">FRONT END DEVELOPER</li>
                    <li class="font-m-size font-medium">Self Employed - <a du-smooth-scroll du-scrollspy data-ng-click="home.toTheTop($event)">www.michalkucaj.pl</a></li>
                    <li>. HTML & CSS</li>
                    <li>. Responsive design and development</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="htk-left-panel-box">
        <h3 class="custom-block-title title-toggle-block">IDEO - (2010 - internship)</h3>
        <div class="block-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
                <ul class="work-box">
                    <li class="main-list-header text-primary">2010</li>
                    <li class="font-big font-black">FRONT END DEVELOPER - internship</li>
                    <li class="font-m-size font-medium">IDEO - <a href="http://www.ideo.pl/">www.ideo.pl/</a></li>
                    <li>. HTML & CSS</li>
                    <li>. Responsive design and development</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="htk-left-panel-box">
        <h3 class="custom-block-title title-toggle-block" data-ng-click="imagePanelModel.togglePanelOpen()">University of Information Technology and Management</h3>
        <div class="block-container img-upload-container">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 main-list-box">
                <ul class="work-box">
                    <li class="main-list-header text-primary">2005 - 2010</li>
                    <li class="font-big font-black">University of Information Technology and Management</li>
                    <li class="font-m-size font-medium">Rzeszow  - <a href="https://www.wsiz.rzeszow.pl/">www.wsiz.rzeszow.pl/</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="scroll-down-bottom-box scroll-down-bottom-box-black">
<a class="scroll-down-arrow" href="#contact" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('contact', $event);home.isScrollorClick();home.getMore()"><span></span></a>
</div>