<header navbar-directive class="header" data-ng-class="{'sticky-header':stickynav}">
    <nav class="navbar navbar-default navbar-fixed-top" data-ng-class="{'sticky-nav':stickynav}">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a id="logo" href="#top-section" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('home', $event);home.isScrollorClick()" class="navbar-brand" >Portfolio</a>
            </div>
            <div class="social-box pull-right">
                <ul class="social-box-header">
                    <li>
                        <a href="https://www.facebook.com/michal.mike.986" class="link-contrast footer-icon-container" target="_blank">
                            <span class="screen-reader-only">Facebook</span>
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="skype:mkucaj1986" class="link-contrast footer-icon-container" target="_blank">
                            <span class="screen-reader-only">Google+</span>
                            <i class="fa fa-skype" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/MichaelKucaj" class="link-contrast footer-icon-container" target="_blank">
                            <span class="screen-reader-only">Twitter</span>
                            <i class="fa fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/michal-kucaj-69b5a06b" class="link-contrast footer-icon-container" target="_blank">
                            <span class="screen-reader-only">LinkedIn</span>
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li>
                    <a href="#home" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('home', $event);home.isScrollorClick()">Home</a>
                    </li>
                    <li>
                    <a href="#welcome" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('welcome', $event);home.isScrollorClick()">Welcome</a>
                    </li>
                    <li><a href="#profile" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('profile', $event);home.isScrollorClick()">Profile</a></li>
                    <li><a href="#skills" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('skills', $event);home.isScrollorClick()">Skills</a></li>
                    <li><a href="#work-education" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('work-education', $event);home.isScrollorClick()">Work & Education</a></li>
                    <li><a href="#contact" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('contact', $event);home.isScrollorClick()" >Contact</a></li>
                    <li><a target="_new" href="src/files/michalkucajcv.pdf">CV</a></li>
                </ul>               
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
</header>