<section id="top-section" class="top-section">
    <div class="block-center">
        <h2 class="main-title">Michal Kucaj <span class="text-primary">FRONT END</span> DEVELOPER</h2>
        <blockquote class="scroller">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem ?</p>
            <div class="top-buttons-box">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="btn btn-light btn-bordered btn-lg" href="#first-section" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('first-section', $event)">Dowiedz się więcej</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a href="" target="_blank" class="btn btn-primary btn-lg spin circle">Portfolio</a>
                </div>
            </div>
        </blockquote>
    </div>
    <div class="container">
        <div class="top-bg">
            <div class="top-bg-box">
            </div>
        </div>
    </div>
</section>
<!--FIRST SECTION-->
<section id="first-section" class="sections first-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 welcome-box">
                Hi! my name is Michael <br />
                I'm a 29 year old <br />
                <span class="text-primary">FRONT END</span> DEVELOPER
                nice to meet you!
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                
            </div>
        </div>
    </div>
</section>
<section id="profile" class="sections profile">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 main-list-box">
                <ul>
                    <li class="main-list-header">Profile</li>
                    <li class="text-primary">fullname</li>
                    <li>Michal Kucaj</li>
                    <li class="text-primary">age</li>
                    <li>29</li>
                    <li class="text-primary">birth</li>
                    <li>29 October 1986</li>
                    <li class="text-primary">nationality</li>
                    <li>Polish</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="skills" class="sections skills">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 main-list-box">
                <ul>
                    <li class="main-list-header">Personality</li>
                    <li>creativity</li>
                    <li>problem solving</li>
                    <li>teamwork</li>
                    <li>quick learning</li>
                    <li>determination</li>
                    <li>patience</li>
                    <li>responsibility</li>
                    <li>time management</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 main-list-box">
                <ul>
                    <li class="main-list-header">Technical</li>
                    <li> css3 & html5</li>
                    <li>oo javascript</li>
                    <li>jquery</li>
                    <li>angularjs</li>
                    <li>node.js</li>
                    <li>responsive design</li>
                    <li>programming</li>
                    <li>CMS</li>
                    <li>graphics</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="work-education" class="sections work-education">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <ul>
                    <li>2010 - 2013</li>
                    <li>front end developer</li>
                    <li>Portugal Telecom</li>
                    <li>HTML & CSS</li>
                    <li>Responsive design and development</li>
                    <li> Cross browser compatibility (IE7+)</li>
                    <li>avascript object oriented programming</li>
                    <li>UX / UI design</li>
                </ul>
            </div>
        </div>
    </div>
</section>