<section id="top-section" class="top-section">
    <div class="block-center">
        <h2 class="main-title">Michal Kucaj <span class="text-primary">FRONT END</span> DEVELOPER</h2>
        <blockquote class="scroller">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora voluptatem ?</p>
            <div class="top-buttons-box">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a class="btn btn-light btn-bordered btn-lg" href="">Dowiedz się więcej</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <a href="" target="_blank" class="btn btn-primary btn-lg">Portfolio</a>
                </div>
            </div>
        </blockquote>
    </div>
    <div class="container">
        <div class="top-bg">
            <div class="top-bg-box">
            </div>
        </div>
    </div>
</section>

{{!--    <section id="first-section" class="first-section">
    <div class="container">

    </div>
</section> --}}