<footer id="footer" class="footer">
	<div class="container">
		<div class="clearfix"></div>
		
		<ul class="footer-nav main-nav-links">
			<li>
				<a class="home-anchor" href="#home" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('home', $event);home.isScrollorClick()">Home</a>
			</li>
			<li>
				<a href="#welcome" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('welcome', $event);home.isScrollorClick()">Welcome</a>
			</li>
			<li><a href="#profile" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('profile', $event);home.isScrollorClick()">Profile</a></li>
			<li><a href="#skills" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('skills', $event);home.isScrollorClick()">Skills</a></li>
			<li><a href="#work-education" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('work-education', $event);home.isScrollorClick()">Work & Education</a></li>
			<li><a href="#contact" du-smooth-scroll du-scrollspy data-ng-click="home.scrollToElement('contact', $event);home.isScrollorClick()">Contact</a></li>
			<li><a target="_new" href="src/files/michalkucajcv.pdf">CV</a></li>
		</ul>
		
		<div class="center-block social-box">
			<ul class="center-block">
				<li>
					<a href="https://www.facebook.com/michal.mike.986" class="link-contrast footer-icon-container" target="_blank">
						<span class="screen-reader-only">Facebook</span>
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="skype:mkucaj1986" class="link-contrast footer-icon-container" target="_blank">
						<span class="screen-reader-only">Google+</span>
						<i class="fa fa-skype" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="https://twitter.com/MichaelKucaj" class="link-contrast footer-icon-container" target="_blank">
						<span class="screen-reader-only">Twitter</span>
						<i class="fa fa fa-twitter" aria-hidden="true"></i>
					</a>
				</li>
				<li>
					<a href="https://www.linkedin.com/in/michal-kucaj-69b5a06b" class="link-contrast footer-icon-container" target="_blank">
						<span class="screen-reader-only">LinkedIn</span>
						<i class="fa fa-linkedin" aria-hidden="true"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copy">
		<div class="container">
			© {{home.date | date:'yyyy'}} Michal Kucaj
		</div>
	</div>
</footer>