<!-- LAYOUT -->
<div ng-include="'src/client/views/header/header.hbs'"></div>
<div class="partials" ng-include="'src/client/views/content.hbs'"></div>
<div class="partials" ng-include="'src/client/views/footer.hbs'"></div>