<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="" />
        <!-- build:vendorCSS(.tmp) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
    </head>
    <body>
        <section id="top-section" class="top-section">
            <!-- BEGIN page-specific content -->
            {{{body}}}
            <!-- END page-specific content -->
        </section>
        <footer id="footer" class="footer">
        </footer>
        <!-- bower:js -->
        <!-- endbower -->
        
    </body>
</html>