<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="" />
        <!-- inject:css -->
        <link rel="stylesheet" href="/.tmp/main.css">
        <!-- endinject -->
    </head>
    <body>
        <header>
            a logo
        </header>
        <section id="top-section" class="top-section">
            <!-- BEGIN page-specific content -->
            {{{body}}}
            <!-- END page-specific content -->
        </section>
        <footer id="footer" class="footer">
        </footer>
        <!-- inject:js -->
        <script src="/src/client/js/app.js"></script>
        <script src="/src/client/js/controllers/mainCtrl.js"></script>
        <!-- endinject -->
        <!-- bower:js -->
        <script src="../../../bower_components/angular/angular.js"></script>
        <script src="../../../bower_components/json3/lib/json3.js"></script>
        <script src="../../../bower_components/jquery/dist/jquery.js"></script>
        <script src="../../../bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
        <script src="../../../bower_components/angular-touch/angular-touch.js"></script>
        <script src="../../../bower_components/lodash/lodash.js"></script>
        <script src="../../../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbower -->
    </body>
</html>