$full-height: 100vh;
$posabs: absolute;
$posrel: relative;
// RWSD
$mobile: 767px;
$mobileStart: 768px;
$tabletV: 991px;
$tabletH: 1280px;
$laptop: 1366px;
// COLORS
$main-background: #2c2c28;
$black-color: #000;
$white-color: #fff;
$gold-color: #E2C41E;

