body {
    background-color: $main-background;
    font-size: 100%;
    font-family: 'latoregular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $white-color;
    @media screen and (max-width: $tabletV) {
        font-size: 95%;
    }
    @media screen and (max-width: $mobile) {
        font-size: 90%;
    }
}

// TAGS
h1 {
    margin: 0;
}

a {
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    &:hover {
        cursor: pointer;
        text-decoration: none;
        outline: 0;
    }
    &:focus {
        color: #fff;
        outline: 0;
        text-decoration: none;
    }
}
.circle{
    color: #fff;
    background-color: #333;
    border-color: #fff;
    border-width: 3px;
    &:hover{
        color: #ccc;
        background-color: #000;
        border-color: #ccc;
    }
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input {
    &:focus {
        border: 1px solid #000 !important;
        outline: 0;
    }
}

.text-primary {
    color: $gold-color;
}

.font-big {
    font-size: 1.8em;
}

.font-m-size {
    font-size: 1.5em;
}

.font-black {
    font-family: 'latoblack';
}

.font-medium {
    font-family: 'latomedium';
}

.center-block {
    display: block;
    float: none;
    margin: 0 auto;
    text-align: center;
}

.mobile-breakline {
    display: none;
    @media screen and (max-width: $mobile) {
        display: inline-block;
    }
}

.main-app-wrapper {
    display: flex;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.controller-home-wrapp {
    width: 100%;
}

.relative-container {
    position: relative;
    height: 100vh;
}