$full-height: 100vh;
$posabs: absolute;
$posrel: relative;

// RWD
$mobile: 767px;

@media screen and (max-width: $mobile) {
      margin-right: 0;
    margin-bottom: 20px;
}
// COLORS
$black-color: #000;
$white-color: #fff;
$gold-color: #E2C41E;;