.contact {
    background-color: #f5f5f5;
    position: relative;
    h1 {
        color: #484848;
        padding: 15px 0 0 0;
        text-align: center;
    }
    .contact-box {        
        max-width: 500px;
        width: 100%;
        padding: 30px 0 0 0;
        input{
            border:1px solid  #ccc;
            border-radius: 4px;
            color:#484848;
            font-size: 16px;
            width:100%;
            margin: 4px 0;
            padding:10px 7px;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        textarea{
            @extend input;
            min-width: 100%;
            max-width: 100%;
            max-height: 500px;
        }
        label{
            color:#000;
            font-size: 18px;
            text-align: left;
            width:100%;
        }
        .contact-send {
            background-color: #484848;
            border:2px solid transparent;
            color: #ccc;
            text-align: center;
            padding: 7px 30px;
            font-size: 18px;
            -webkit-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: #000;
                border:2px solid #777777;
                color:#fff;
                text-decoration: none;
            }
        }
    }
    .contact-code-block{
        background: transparent url('../src/client/assets/img/code/6.png') no-repeat center top;
        display: block;
        height: 298px;
        position: absolute;
        right: 15%;
        top: 75px;
        width: 353px;
    }
}
// VALIDATION
.validation-message-box{
    width: 100%;
    padding: 0 0 5px 0;
    text-align: left;
    .validation-message-invalid{
        color: #c10000;
        font-size: 12px;
        font-weight: 700;
    }
}