.main-list-box {
    font-size: 1.5em;
    .main-list-header {
        font-size: 32px;
        margin-left: -20px;
        padding: 0 0 15px 0;
    }
    ul {
        padding: 0 0 0 20px;
        li {
            padding: 0 0 10px 0;
        }
    }

    .work-box {
    	li{
    		padding:0 0 5px 0;
    		a{
    			font-size: 1em;
    			text-decoration: none;
    		}
    	}
        .font-m-size {
            color: #585858;
        }
        .font-black{
        	padding:0;
        }
    }

}

.skills-list {
    ul {
        li {
            .fa {
                padding: 0 5px 0 0;
                color: #24D330;
            }
        }
    }
}

