.skills {
    .main-list-box {
        @media screen and (max-width: $mobile) {
            padding: 85px 0 0 0;
            line-height: 1.2em;
        }
        .main-list-header {
            @media screen and (max-width: $mobile) {
                font-size: 22px;
            }
        }
        ul {
            @media screen and (max-width: $mobile) {
                padding: 0 0 0 5px;
            }
        }
    }
}

.main-list-box {
    font-size: 1.5em;
    .main-list-header {
        font-size: 28px;
        margin-left: -20px;
        padding: 0 0 15px 0;
    }
    ul {
        padding: 0;
        li {
            padding: 0 0 10px 0;
            font-size: 18px;
            @media screen and (max-width: $mobile) {
                font-size: 1.2rem;
            }
        }
    }
    .work-box {
        li {
            padding: 0 0 5px 0;
            a {
                font-size: 0.9em;
                text-decoration: none;
                color: #3c763d;
                &:hover {
                    color: #af7342;
                }
            }
        }
        .font-m-size {
            color: #585858;
        }
        .font-black {
            padding: 0;
        }
    }
}

.skills-list {
    ul {
        li {
            .fa {
                padding: 0 5px 0 0;
                color: #24D330;
            }
        }
    }
}
