.grid {
    color: #000;
    display: block;
    margin: 50px auto 0;
    padding: 0;
    width: 1024px;
    @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
        width: 768px;
    }
    @media screen and (max-width: $mobile) {
        width: 320px;
    }
}

.grid li {
    border: 2px solid #ccc;
    display: inline-block;
    background: #fff;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 236px;
    height: 190px;
    @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
        width: 172px;
        height: 200px;
    }
    @media screen and (max-width: $mobile) {
        width: 150px;
        height: 150px;
        margin: 5px;
    }
    span {
        font-size: 18px;
        @media screen and (min-width: $mobileStart) and (max-width: $laptop) {
            font-size: 14px;
        }
    }
    a {
        width: 100%;
        display: block;
        height: 115px;
        position: relative;
        img{
            max-height: 115px;
            display: block;
            margin: 0 auto;
        }
        @media screen and (min-width: $mobileStart) and (max-width: $laptop) {
            height: 110px;
        }
        &:after {
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: -1px;
            font-size: 16px;
            content: " ";
            z-index: 3;
            background-color: rgba(255, 255, 255, 0.2);
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }
        &:hover {
            &:after {
                background-color: rgba(0, 0, 0, 0.4);
            }
            .portfolio-href {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
            }
        }
        .portfolio-href {
            display: none;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: -1px;
            font-size: 14px;
            z-index: 4;
            position: absolute;
            align-items: center;
            justify-content: center;
        }
    }
    .website-name {
        font-size: 14px;
        padding: 0 0 10px;
        text-align: center;
        @media screen and (min-width: $mobileStart) and (max-width: $laptop) {
            min-height: 48px;
        }
    }
    .website-year {
        color: red;
        font-size: 13px;
        padding: 5px 0;
        height: 30px;
        width: 100%;
        float: left;
        text-align: center;
        span {
            color: #31708f;
        }
    }
}

.masonry-controls-filter {
    margin: 0 auto;
    display: block;
    width: 441px;
    padding: 20px 0;
    input {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #000;
        font-size: 16px;
        padding: 7px 0 7px 15px;
        width: 100%;
        transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
    }
}

.masonry-controls {
    margin: 0 auto;
    display: block;
    width: 441px;
    padding: 20px 0;
    a {
        margin: 0 5px;
        display: block;
        text-align: center;
        cursor: pointer;
        float: left;
        border: none;
        height: 40px;
        padding: 0 14px;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
        -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
        box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
        font-size: 18px;
        line-height: 37px;
        -webkit-transition-property: background-color;
        -webkit-transition-duration: 0.2s;
        -webkit-transition-timing-function: linear;
        -moz-transition-property: background-color;
        -moz-transition-duration: 0.2s;
        -moz-transition-timing-function: linear;
        -ms-transition-property: background-color;
        -ms-transition-duration: 0.2s;
        -ms-transition-timing-function: linear;
        -o-transition-property: background-color;
        -o-transition-duration: 0.2s;
        -o-transition-timing-function: linear;
        transition-property: background-color;
        transition-duration: 0.2s;
        transition-timing-function: linear;
        background: #fafafa;
        color: #222222;
        &:hover{
            background: #e6e6e6;
            color: #777;
            -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.25);
            box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.25);
        }
        &:active{
           -webkit-box-shadow: none !important;
           -moz-box-shadow: none !important;
           box-shadow: none !important;
        }
    }
}


/**** Transitions ****/

.masonry,
.masonry li {
    /* apply before masonry add class */
    position: absolute;
    /* important to add it before enter animation start */
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-property: all;
    transition-property: all;
}

.masonry .masonry-enter {
    /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
