.grid {
    color: #000;
    display: block;
    margin: 50px auto 0;
    padding: 0;
    width: 1024px;
    @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
        width: 768px;
    }
    @media screen and (max-width: $mobile) {
        width: 320px;
    }
}

.grid li {
    border: 0;
    display: inline-block;
    background: #fff;
    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 236px;
    height: 236px;
    @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
        width: 172px;
        height: 172px;
    }
    @media screen and (max-width: $mobile) {
        width: 150px;
        height: 150px;
        margin: 5px;
    }
    span {
        font-size: 18px;
    }
    a {
        width: 100%;
        display: block;
        height: 115px;
        position: relative;
        &:after {
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: -1px;
            font-size: 16px;
            content: " ";
            z-index: 3;
            background-color: rgba(255, 255, 255, 0.2);
            -webkit-transition: all 0.25s ease-in-out;
            -o-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }
        &:hover {
            &:after {
                background-color: rgba(0, 0, 0, 0.4);
            }
            .portfolio-href {
                display: flex;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
            }
        }
        .portfolio-href {
            display: none;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: -1px;
            font-size: 14px;
            z-index: 4;
            position: absolute;
            align-items: center;
            justify-content: center;
        }
    }
    .website-name {
        font-size: 14px;
        padding: 0 5px 10px;
        text-align: center;
    }
    .website-year {
        color: red;
        font-size: 13px;
        padding: 5px 15px;
        text-align: center;
        span {
            color: #31708f;
        }
    }
}

.masonry-controls-filter {
    margin: 0 auto;
    display: block;
    width: 441px;
    padding: 20px 0;
    input {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #000;
        font-size: 16px;
        padding: 7px 0 7px 15px;
        width: 100%;
        transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
    }
}

.masonry-controls {
    margin: 0 auto;
    display: block;
    width: 441px;
    padding: 20px 0;
    a {
        border: 1px solid #000;
        border-radius: 3px;
        margin: 0 5px;
        color: #000;
        padding: 5px 15px;
        font-size: 18px;
    }
}


/**** Transitions ****/

.masonry,
.masonry li {
    /* apply before masonry add class */
    position: absolute;
    /* important to add it before enter animation start */
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-property: all;
    transition-property: all;
}

.masonry .masonry-enter {
    /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
