<div class="review-type-wrapper-v">
	<div class="review-type-inner" style="height:45%">
		<div></div>
	</div>
</div>
<div class="dev-lvl-post-levels">
	<div class="ninja-lvl dev-levels">JS Ninja</div>
	<div class="architect-lvl dev-levels">Software Architect</div>
	<div class="senior-lvl dev-levels">Senior Developer</div>
	<div class="middle-lvl dev-levels">Middle Developer</div>
	<div class="junior-lvl dev-levels">Junior Developer</div>
</div>