<ul class="nav-pagination slide-navigation main-nav-links">
    <li>
        <a class="home-anchor active" href="#home" du-smooth-scroll="" du-scrollspy="" data-ng-click="home.scrollToElement('home', $event);home.isScrollorClick()"></a>
    </li>
    <li>
        <a class="welcome-anchor" href="#welcome" du-smooth-scroll="" du-scrollspy="" data-ng-click="home.scrollToElement('welcome', $event);home.isScrollorClick()" class=""></a>
    </li>
    <li><a href="#profile" du-smooth-scroll="" du-scrollspy="" data-ng-click="home.scrollToElement('profile', $event);home.isScrollorClick()" class=""></a></li>
    <li><a href="#skills" du-smooth-scroll="" du-scrollspy="" data-ng-click="home.scrollToElement('skills', $event);home.isScrollorClick()" class=""></a></li>
    <li><a href="#work-education" du-smooth-scroll="" du-scrollspy="" data-ng-click="home.scrollToElement('work-education', $event);home.isScrollorClick();" class=""></a></li>
    <li><a href="#contact" du-smooth-scroll="" du-scrollspy="" data-ng-click="home.scrollToElement('contact', $event);home.isScrollorClick()" class=""></a></li>
</ul>
