.navbar-default {
    background-color: transparent;
    border-color: transparent;
    @include navbarSticky-transition (background-color 500ms linear, border-color 2000ms ease);
    .navbar-brand {
        color: #fff;
        &:focus {
            color: #000;
        }
        &:hover {
            color: #000;
        }
    }
    .navbar-nav {
        @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
            padding-right: 145px;
        }
        .active {
            a {
                background-color: transparent;
                color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #1da7a3;
                }
            }
        }
        li {
            a {
                color: #fff;
                font-size: 1.6em;
                @media screen and (min-width: $mobileStart) and (max-width: $tabletV) {
                    padding: 15px 9px 10px;
                }
                @media screen and (max-width: $mobile) {
                    color: #f2dede;
                }
                &:hover {
                    background-color: transparent;
                    color: #222222;
                }
                &.active {
                    color: $gold-color;
                    border-bottom: 5px solid $gold-color;
                    @media screen and (max-width: $mobile) {
                        border-bottom: 0;
                    }
                }
            }
            .home-anchor {
                &.active {
                    color: $white-color;
                    border-bottom: 5px solid $white-color;
                    @media screen and (max-width: $mobile) {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

#logo {
    color: $white-color;
}

.sticky-header {
    #logo {
        color: #000;
    }
    .sticky-nav {
        background-color: $white-color;
        @media screen and (max-width: $mobile) {
            background-color: transparent;
        }
        border-bottom: 3px solid $gold-color;
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        .navbar-header {
            @media screen and (max-width: $mobile) {
                background-color: #fff;
            }
            .navbar-toggle {
                background-color: #ccc;
                border-color: #000;
                color: #000;
                .icon-bar {
                    background-color: #000;
                }
                &.collapsed {
                    background-color: #fff;
                }
            }
        }
        .navbar-brand {
            color: $black-color;
        }
        .navbar-nav {
            li {
                a {
                    color: $black-color;
                    &:hover {
                        color: $gold-color;
                    }
                    &.active {
                        color: $gold-color;
                    }
                }
                .home-anchor {
                    &.active {
                        color: $gold-color;
                        border-bottom: 5px solid $gold-color;
                    }
                }
            }
        }
    }
}

// Mobile
.navbar-default .navbar-toggle .icon-bar {
    @media screen and (max-width: $mobile) {
        background-color: #fff;
    }
}

.navbar-default .navbar-toggle {
    @media screen and (max-width: $mobile) {
        border-color: #fff;
        color: #fff;
    }
}

.navbar-default {
    .navbar-collapse {
        @media screen and (max-width: $mobile) {
            padding: 0;
        }
        .nav {
            @media screen and (max-width: $mobile) {
                background-color: rgba(0, 0, 0, 0.5);
                margin: 0;
                text-align: center;
                width: 100%;
            }
            li {
                a {
                    @media screen and (max-width: $mobile) {
                        color: #f2dede;
                    }
                }
            }
        }
    }
}

.navbar-default .navbar-toggle:hover {
    @media screen and (max-width: $mobile) {
        background-color: #fff;
    }
}

.navbar-default .navbar-toggle:focus {
    @media screen and (max-width: $mobile) {
        background-color: transparent;
    }
}

.navbar-brand {
    @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
        padding: 15px 0 15px 5px;
    }
}
