.partials {
    display: inline-block;
    position: relative;
    width: 100%;
    .sections {
        display: inline-block;
        float: left;
        padding: 70px 0;
        width: 100%;
        min-height: 960px;
    }
    .first-section {
        background-color: #38ABE2;
        color: #fff;
        font-size: 48px;
        text-align: center;
        .welcome-box {
            padding: 140px 0;
        }
        .welcome-bottom{
            color:$black-color;
            font-size: 28px;
            font-family: 'latoblack';
            line-height: 1.3em;
            text-align: center;
        }
        .welcome-bottom-specialise{
            color: $white-color;
            font-size: 24px;
            padding:20px 0 0 0;

            .special-box-txt{
                margin: 0 0 20px 0;
            }
            .step1{
                background: #fff url('../src/client/assets/img/icons/html-css.png') no-repeat center 15px;
            }
            .step2{
                background: #fff url('../src/client/assets/img/icons/javascript.png') no-repeat center 15px;
            }
            .step3{
                background: #fff url('../src/client/assets/img/icons/mean.png') no-repeat center 15px;
            }
            .special-box{
                background-color: $white-color;
                border-radius: 15px;
                padding: 15px;
                display: block;
                height: 150px;
                width: 250px;
                margin: 0 auto;
                position: relative;
                &:before{
                    content: '';
                    position: absolute;
                    width: 12px;
                    display: block;
                    height: 0;
                    border: 15px solid #fff;
                    border-top: 0 solid transparent !important;
                    border-right: 20px solid transparent !important;
                    border-left: 20px solid transparent !important;
                    left: 0;
                    top: -15px;
                    margin: 0 auto;
                    float: none;
                    right: 0;
                }
            }
        }
    }
    .profile {
        background-color: #161616;
        color: #fff;
    }
    .skills {
        color: #fff;
    }
    .work-education {
        background-color: $white-color;
        color: $black-color;
    }
    .work-box{
        width:500px;
        margin:0 auto;
        padding:30px 0 0 0;
    }
}

.go-up-arrow {
    background: transparent url('../../src/client/assets/img/icons/go-up-arrow.png') no-repeat 0 0;
    cursor:pointer;
    display: block;
    height: 64px;
    width: 64px;
    position: fixed;
    right:9px;
    bottom:9px;

    -webkit-animation: showElementOpacity 1s ease forwards;
     -o-animation: showElementOpacity 1s ease forwards;
     animation: showElementOpacity 1s ease forwards;
}

// FOOTER
.footer {
    border: 1px solid #000;
    background: #f5f5f5;
    padding: 40px 0;
    color: #666666;
}
