.navbar-default {
    background-color: transparent;
    border-color: transparent;
    @include navbarSticky-transition (background-color 500ms linear, border-color 2000ms ease);
    .navbar-brand {
        color: #fff;
        &:focus {
            color: #000;
        }
        &:hover {
            color: #000;
        }
    }
    .navbar-nav {
        .active {
            a {
                background-color: transparent;
                color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #1da7a3;
                }
            }
        }
        li {
            a {
                color: #fff;
                font-size: 1.6em;
                &:hover {
                    background-color: transparent;
                    color: #222222;
                }
                &.active {
                    color: $gold-color !important;
                    border-bottom: 5px solid $gold-color;
                }
            }
        }
    }
}

.sticky-header {
    .sticky-nav {
        background-color: $white-color;
        border-bottom: 3px solid $gold-color;
        -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
        .navbar-brand {
            color: $black-color;
        }
        .navbar-nav {
            li {
                a {
                    color: $black-color;
                }
            }
        }
    }
}
