.navbar-default {
    background-color: transparent;
    border-color: transparent;
    .navbar-brand {
        color: #fff;
    }
    .navbar-nav {
        .active {
            a {
                background-color: transparent;
                color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #1da7a3;
                }
            }
        }
        li {
            a {
                color: #fff;
                &:hover {
                    background-color: transparent;
                    color: #1da7a3;
                }
            }
        }
    }
}
