.top-section {
    background: transparent url('../src/client/assets/img/top-section/main-bg.jpg') no-repeat center 0;
    display: inline-block;
    height: $full-height;
    position: $posrel;
    width: 100%;
    min-height: 768px;
    @media screen and (max-width: $mobile) {
        min-height: 490px;
        padding: 0 15px;
    }
    .hello-world{
        background: transparent url('../src/client/assets/img/code/1.png') no-repeat center 0;
        display:block;
        height:45px;
        position: fixed;
        left:5px;
        top:3px;
        width:230px;
        z-index: 999999;
    }
    h2 {
        margin: 0;
        @media screen and (max-width: $mobile) {
            font-size: 26px;
        }
    }
    .scroller {
        border: 0;
        padding: 15px 0 0 0;
        margin: 0;
        .top-buttons-box {
            @media screen and (min-width: 768px) {
                max-width: 380px;
                display: inline-block;
                width: 100%;
            }
        }
        @media screen and (max-width: $mobile) {
            padding: 10px 0 0 0;
        }
    }
    .block-center {
        color: #fff;
        position: relative;
        top: 25%;
        -webkit-transform: translateY(-25%);
        -moz-transform: translateY(-25%);
        -ms-transform: translateY(-25%);
        -o-transform: translateY(-25%);
        transform: translateY(-25%);
        width: 100%;
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        @media screen and (max-width: $mobile) {
            top: 15%;
            -webkit-transform: translateY(-15%);
            -moz-transform: translateY(-15%);
            -ms-transform: translateY(-15%);
            -o-transform: translateY(-15%);
            transform: translateY(-15%);
        }
        .text-primary {
            color: $gold-color;
            display: inline-block;
            @media screen and (max-width: $mobile) {
                display: inline;
            }
        }
        p {
            margin: 0 0 40px;
            @media screen and (max-width: $mobile) {
                margin: 0 0 15px;
                font-size: 16px;
            }
        }
    }
}

.top-bg {
    position: $posabs;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 517px;
    @media screen and (max-width: $mobile) {
        height: auto;
    }
    .top-bg-box {
        position: $posrel;
        background: transparent url('../src/client/assets/img/top-section/top-bg.png') no-repeat center 0;
        height: 517px;
        width: 100%;
        @media screen and (max-width: $mobile) {
            background-size: cover;
            height: 100%;
            min-height: 215px;
        }
    }
}

.btn-bordered {
    color: #ffffff;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 25px;
    margin-right: 0;
    @media screen and (max-width: $mobile) {
        margin-right: 0;
        margin-bottom: 15px;
    }
    &:hover {
        color: #9D9D9D;
    }
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
}
