.top-section {
    display: inline-block;
    height: $full-height;
    position: $posrel;
    width: 100%;
    .scroller{
    	border:0;
    }
    .block-center {
    	color:#fff;
        position: relative;
        top: 30%;
        -webkit-transform: translateY(-30%);
        -moz-transform: translateY(-30%);
        -ms-transform: translateY(-30%);
        -o-transform: translateY(-30%);
        transform: translateY(-30%);
        width:100%;
        max-width: 650px;
        margin: 0 auto;
        text-align: center;
        p {
            margin: 0 0 40px;
        }
    }
}

.top-bg {
    position: $posabs;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 517px;
    @media screen and (max-width: $mobile) {
        min-height: 216px;
        height: auto;
    }
    .top-bg-box {
        position: $posrel;
        background: transparent url('../src/client/assets/img/top-section/top-bg.png') no-repeat center 0;
        height: 517px;
        width: 100%;
        @media screen and (max-width: $mobile) {
            background-size: contain;
            height: 100%;
        }
        // .left-top-bg {
        //     background: transparent url('../src/client/assets/img/top-section/top-bg.png') no-repeat 0 0;
        //     height: 517px;
        // }
        // .right-top-bg {
        //     background: transparent url('../src/client/assets/img/top-section/header-background-michael.jpg') no-repeat 0 0;
        //     height: 768px;
        // }
    }
}


.btn-bordered {
    color: #ffffff;
    border:2px solid #fff;
    background-color: transparent;
    border-radius: 30px;
    margin-right: 20px;
    &:hover {
        color: #9D9D9D;
    }
}

.btn-lg {
    font-size: 18px;
    line-height: 1.33;
}