@mixin centerV {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin button-transition {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@mixin button-bg-transition {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -moz-transition-property: background-color;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -ms-transition-property: background-color;
    -ms-transition-duration: 0.2s;
    -ms-transition-timing-function: linear;
    -o-transition-property: background-color;
    -o-transition-duration: 0.2s;
    -o-transition-timing-function: linear;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

@mixin navbarSticky-transition ($transition, $secondTransition) {
    -webkit-transition: $transition, $secondTransition;
    -moz-transition: $transition, $secondTransition;
    -o-transition: $transition, $secondTransition;
    -ms-transition: $transition, $secondTransition;
    transition: $transition, $secondTransition;
}
