<!--HOME TOP SECTION-->
<section id="home" class="sections top-section section" ng-include="'views/home/partials/top-section.hbs'"></section>
<!--WELCOME SECTION-->
<section id="welcome" class="sections first-section section"  ng-include="'views/home/partials/welcome-section.hbs'"></section>
<!--PROFILE-->
<section id="profile" class="sections profile section"  ng-include="'views/home/partials/profile-section.hbs'"></section>
<!--SKILLS-->
<section id="skills" class="sections skills section"  ng-include="'views/home/partials/skills-section.hbs'"></section>
<!--WORK & EDUCATION-->
<section id="work-education" class="sections work-education section" ng-include="'views/home/partials/work-education-section.hbs'"></section>
<!--CONTACT-->
<section id="contact" class="sections contact section" data-ng-controller="contactCtrl as contact"  ng-include="'views/home/partials/contact-section.hbs'"></section>