.partials {
    display: inline-block;
    position: relative;
    width: 100%;
    .sections {
        display: inline-block;
        float: left;
        padding: 70px 0;
        height: 100vh;
        min-height: 100vh;
        width: 100%;
        @media screen and (max-width: $mobile) {
            padding: 55px 0;
        }
    }
    // FIRST SECTIOBN
    .first-section {
        background-color: #38ABE2;
        color: #fff;
        font-size: 48px;
        text-align: center;
        .welcome-row {
            display: inline-block;
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
        .welcome-row-mobile {
            display: none;
            @media screen and (max-width: $mobile) {
                display: inline-block;
            }
            .welcome-row-mobile-txt {
                background-color: #fff;
                float: left;
                color: #000;
                display: inline-block;
                margin: 10px 0 0 0;
                width: 90%;
                padding: 0 10px 10px 7px;
                text-align: left;
                h3 {
                    font-size: 16px;
                    margin: 10px 0 5px 0;
                }
                p {
                    font-size: 1.2rem;
                    margin: 0;
                }
            }
        }
        .welcome-box {
            background: transparent url('../src/client/assets/img/code/3.png') no-repeat center top;
            padding: 140px 0 60px;
            @media screen and (max-width: $mobile) {
                padding: 0;
                font-size: 16px;
                background: none;
            }
            @media screen and (min-width:$mobileStart) and (max-width: $tabletH) {
                padding: 135px 0 5px;
                font-size: 24px;
            }
        }
        .welcome-bottom {
            color: $black-color;
            font-size: 28px;
            font-family: 'latoblack';
            line-height: 1.3em;
            text-align: center;
            @media screen and (max-width: $mobile) {
                font-size: 16px;
                padding: 4px 0 0 0;
            }
        }
        .welcome-bottom-specialise {
            color: $white-color;
            font-size: 24px;
            padding: 20px 0 0 0;
            .special-box-txt {
                margin: 0 0 20px 0;
            }
            .step1 {
                background: #fff url('../src/client/assets/img/icons/html-css.png') no-repeat center 15px;
            }
            .step2 {
                background: #fff url('../src/client/assets/img/icons/javascript.png') no-repeat center 15px;
            }
            .step3 {
                background: #fff url('../src/client/assets/img/icons/mean.png') no-repeat center 15px;
            }
            .special-box {
                -moz-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.35);
                -webkit-box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.35);
                box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.35);
                background-color: $white-color;
                border-radius: 15px;
                padding: 15px;
                display: block;
                height: 210px;
                width: 250px;
                margin: 0 auto;
                position: relative;
                @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
                    height: 285px;
                    width: 205px;
                }
                .special-box-inside {
                    color: #1f1f1f;
                    font-size: 14px;
                    text-align: center;
                    padding: 88px 0 0 0;
                    display: block;
                }
                &:before {
                    content: '';
                    position: absolute;
                    width: 12px;
                    display: block;
                    height: 0;
                    border: 15px solid #fff;
                    border-top: 0 solid transparent !important;
                    border-right: 20px solid transparent !important;
                    border-left: 20px solid transparent !important;
                    left: 0;
                    top: -15px;
                    margin: 0 auto;
                    float: none;
                    right: 0;
                }
            }
        }
    }
    // Profile
    .profile {
        background-color: #161616;
        color: #fff;
        .code-2 {
            background: transparent url('../src/client/assets/img/code/2.png') no-repeat center top;
            display: block;
            width: 350px;
            height: 350px;
        }
    }
    // SKILLS
    .skills {
        color: #fff;
        .skills-wrapp {
            display: block;
            width: 100%;
            max-width: 565px;
            @media screen and (min-width: $mobileStart) and (max-width: $tabletH) {
                max-width: 590px;
            }
            margin: 0 auto;
        }
        .skills-code-block {
            background: transparent url('../src/client/assets/img/code/4.png') no-repeat center top;
            display: block;
            height: 400px;
            @media screen and (max-width: $mobile) {
                display: none;
            }
        }
        .skills-aniamtion {
            position: absolute;
        }
    }
    // WORK && EDUCATION
    .work-education {
        background-color: $white-color;
        color: $black-color;
        position: relative;
        .we-code-block {
            background: transparent url('../src/client/assets/img/code/5.png') no-repeat center top;
            display: block;
            height: 187px;
            width: 550px;
            position: absolute;
            right: 5%;
            top: 10%;
            @media screen and (max-width: $tabletH) {
                display: none;
            }
        }
    }
    .work-box {
        width: 500px;
        margin: 0 auto;
        padding: 30px 0 0 100px;
    }
}

.go-up-arrow {
    background: transparent url('../../src/client/assets/img/icons/go-up-arrow.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    height: 64px;
    width: 64px;
    position: fixed;
    right: 9px;
    bottom: 9px;
    -webkit-animation: showElementOpacity 1s ease forwards;
    -o-animation: showElementOpacity 1s ease forwards;
    animation: showElementOpacity 1s ease forwards;
    z-index: 999999;
    @media screen and (max-width: $mobile) {
        background-size: contain;
        bottom: 1px;
        height: 40px;
        width: 40px;
        left: 0;
    }
    @media screen and (max-width: $tabletH) {
        bottom: 0;
        right: 0;
    }
}

.go-up-arrow-iOS {
    @media screen and (max-width: $mobile) {
        bottom: 15px;
    }
}

// FOOTER
.footer {
    border-top: 1px solid #000;
    background: #fffcf4;
    padding: 20px 0 0 0;
    color: #666666;
    position: relative;
    width: 100%;
    @media screen and (max-width: $mobile) {
        height: 80px;
    }
    @media screen and (max-width: $tabletH) {
        padding: 10px 0 0 0;
    }
    .footer-nav {
        width: 100%;
        text-align: center;
        padding: 10px 0 20px;
        @media screen and (max-width: $mobile) {
            display: none;
        }
        li {
            display: inline-block;
            float: none !important;
            margin: 0 10px;
            width: auto;
            @media screen and (max-width: $mobile) {
                float: left !important;
                margin: 3 7px;
            }
            a {
                color: #666666;
                font-size: 16px;
                padding: 5px 7px;
                @media screen and (max-width: $mobile) {
                    font-size: 13px;
                }
                &:hover {
                    color: #000;
                }
            }
        }
    }
    .copy {
        background-color: #222222;
        color: #fff;
        font-size: 1.5em;
        padding: 20px 0;
        text-align: center;
        width: 100%;
        @media screen and (max-width: $mobile) {
            bottom: 0;
            padding: 5px 0;
            position: absolute;
            text-align: center;
        }
    }
    .icon {
        font-style: normal;
        font-weight: normal;
        line-height: 1;
    }
}

#main-sections {
    width: 100%;
    height: 100%;
}

.slide-navigation {
    position: fixed;
    top: 50%;
    bottom: 0;
    right: 32px;
    text-align: center;
    z-index: 99999;
    @media screen and (max-width: $tabletH) {
        right: 10px;
    }
    @media screen and (max-width: $mobile) {
        top: auto;
        bottom: 4%;
        right: 5px;
    }
    & > li {
        position: relative;
        display: block;
        margin-bottom: 12px;
        z-index: 99999;
        & > a {
            display: block;
            height: 18px;
            width: 18px;
            border: 3px solid #fff;
            border-radius: 50%;
            background: transparent;
            z-index: 999999;
            transition: all 0.4s ease;
            @media screen and (max-width: $mobile) {
                height: 18px;
                width: 18px;
            }
            &.active {
                background: #fff;
            }
        }
    }
    .black-pagination-circle {
        border: 2px solid #000;
        &.active {
            background: #000;
        }
    }
}

.work-education-container {
    display: inline-block;
    @media screen and (max-width: $tabletH) {
        display: none;
    }
}

.accordion-block-w-e {
    display: none;
    padding: 0 15px 0 0;
    h2 {
        color: $gold-color;
        font-size: 24px;
        text-align: center;
    }
    h3 {
        font-size: 18px;
        padding: 0 0 0 35px;
    }
    .htk-left-panel-box {
        padding: 0 15px;
        .block-container {
            background-color: #eeeeee;
        }
        .work-box {
            width: 100%;
            margin: 0 auto;
            padding: 10px 0;
            li {
                a {
                    font-size: 1.15em;
                }
            }
        }
        .main-list-header {
            padding: 0;
            margin-left: 0;
            text-align: left;
        }
    }
    @media screen and (max-width: $tabletH) {
        display: block;
    }
}

.footer-main-wrapp {
    bottom: 0;
    display: none;
    position: fixed;
}
