<!--PORTFOLIO-->
<div growl></div>
<div class="portfolio-header">	
<a href="/" target="_self" class="go-backhome"></a>
<h1>Michal Kucaj Portfolio - type to search</h1>
</div>
<div id="masonry-grid" class="masonry-grid" data-ng-include="'src/client/js/layout/portfolio/masonryDirective/masonryTpl.hbs'"></div>