<!--Mobile PORTFOLIO-->
<section id="accordion-block-w-e" class="accordion-block-w-e accordion-block" toggle-accordion>
	<h2>WEBSITES - PROJECTS</h2>
	<div class="htk-left-panel-box">
		<h3 class="custom-block-title title-toggle-block open">Tiles && Marble London</h3>
		<div class="block-container">
			<a href="http://www.brendantest.pl">http://www.brendantest.pl</a>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JS</li>
				<li>RWD</li>
				<li>Carousel</li>
				<li>Gallery</li>
				<li>Contact Form</li>
				<li>Hosting Domain</li>
				<li>Webpack technology</li>
			</ul>
		</div>
	</div>
	<div class="htk-left-panel-box">
		<h3 class="custom-block-title title-toggle-block">Studio Tattoo</h3>
		<div class="block-container">
			<a href="http://www.extremetattoos.eu">http://www.extremetattoos.eu</a>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JS</li>
				<li>Hosting Domain</li>
			</ul>
		</div>
	</div>
		<div class="htk-left-panel-box">
		<h3 class="custom-block-title title-toggle-block">Furniture Portfolio Page</h3>
		<div class="block-container">
			<a href="http://www.meble-jan.pl">http://www.meble-jan.pl</a>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JS</li>
				<li>Carousel</li>
				<li>Gallery</li>
				<li>Contact Form</li>
				<li>Hosting Domain</li>
				<li>Google Map</li>
			</ul>
		</div>
	</div>

			<div class="htk-left-panel-box">
		<h3 class="custom-block-title title-toggle-block">Graphic Designer Portfolio</h3>
		<div class="block-container">
			<a href="http://www.ppachorek.pl">http://www.ppachorek.pl</a>
			<ul>
				<li>HTML</li>
				<li>CSS</li>
				<li>JS</li>
				<li>Carousel</li>
				<li>Gallery</li>
				<li>Contact Form</li>
				<li>Hosting Domain</li>
				<li>Google Map</li>
			</ul>
		</div>
	</div>
</section>