<!--PORTFOLIO-->
<div growl></div>
<div class="portfolio-header">	
<a href="/" target="_self" class="go-backhome"></a>
<h1>Michal Kucaj Portfolio</h1>
</div>
<div id="masonry-grid" class="masonry-grid" data-ng-include="'views/portfolio/masonryTpl.hbs'"></div>
<div id="portfolio-mobile" class="portfolio-mobile" data-ng-include="'views/portfolio/portfolio-mobile.hbs'"></div>